* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #111111;
}

/* Reset CSS */

ul,
ol,
li,
dl,
dt,
dd {
    list-style-type: none;
    padding-left: 0;
margin-left: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

button:focus,
button:active,
input:focus,
input:active {
    outline: none;
    box-shadow: none;
}

button {
    border: none;
    cursor: pointer;
}

button,
input,
textarea {
    font-family: "Roboto", sans-serif;
}

.clearfix::after {
    content: "";
    clear: both;
}

/* Header - Pre-Header */

.pre-header {
    width: 100%;
    height: 36px;
    padding: 7px 48px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pre-header-logo {
    display: flex;
    align-items: center;
}

.pre-header-logo img {
    width: auto;
    height: 20px;
}

.pre-header-logo img:hover {
    opacity: 0.5;
}

.pre-header-links {
    display: flex;
}

.pre-header-link {
    position: relative;
    font-size: 13px;
    padding: 0 12px;
    border-right: 1px solid #000000;
}

.pre-header-link:hover {
    opacity: 0.5;
}

.pre-header-link:last-child {
    border-right: none;
}

/* Header */

.header {
    width: 100%;
    height: 60px;
    padding: 20px 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

/* Header - Logo */

.header-logo img {
    display: block;
    width: 60px;
    height: auto;
}

.header-logo img:hover {
    opacity: 0.5;
}

/* Header - Menu Nav */

.main-menu-list .main-menu { /* 1차 메뉴, 2차 메뉴 공통 속성, 1차 메뉴 가로 정렬 */
    float: left;
}

.main-menu a {
    display: block;
    padding: 20px 13px;
    position:relative;
}

.main-menu a::after {
    content: "";
    position: absolute;
    display: block;
    background-color: #000000;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    opacity: 0;
}

.main-menu:hover.main-menu a::after {
    opacity: 1;
}

.main-menu:hover .sub1-menu a::after {
    opacity: 0;
}

.main-menu:hover .sub1-menu-list { /* hover 시 2차메뉴 등장 */
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 38px 0 50px;
}

.sub1-menu-list { /* hover 안 하면 2차메뉴 안 보이게 함, 2차메뉴 크기 설정, 가운데 정렬 */
    position: absolute;
    display: none;
    width:100%;
    left: 0;
    top: 96px;
    border-bottom: none;
}

.sub1-menu { /* 2차메뉴 세로정렬 */
    clear: both;
    margin-right: 100px;
    font-size: 16px;
}

.sub1-menu:last-child {
    margin-right: 0;
}

.sub1-menu a {
    display: block;
    margin-bottom: 23px;
    padding: 0;
}

.sub2-menu {
    font-size: 14px;
    color: rgb(117, 117, 117);
}

.sub2-menu a {
    margin-bottom: 14px;
}

/* Header - Form Group: Search Box, Wish List, Shopping Bag */

.search-button {
    display: block;
    position: relative;
}

.search-button-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url(./assets/icon-search.svg);
    background-size: 20px 20px;
    background-position: center center;
    background-repeat: no-repeat;
}

.search-button-icon:hover {
    background-color: #e5e5e5;
}

.search-box-input {
    border: none;
    width: 180px;
    height: 40px;
    border-radius: 100px;
    background-color: #f5f5f5;
    padding: 12px 50px;
    font-size: 16px;
}

.search-box-input:hover {
    background-color: #e5e5e5;
}

/* Main */

.main {
    padding: 0 55px;
    width: 100%;
    max-width: 1760px;
    height: 960px;
    margin: 0 auto;
    text-align: center;
}

.main-banner {
    margin-bottom: 45px;
}

.main-video {
    width: 100%;
    max-width: 1760px;
}

/* Main - Sections Common setting */

.section-title {
    font-size: 43px;
    line-height: 47.3px;;
}

.section-paragraph {
    font-size: 16px;
}

.section-button {
    display: inline-block;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 700;
    padding: 8px 28px;
    margin-bottom: 100px;
    border-radius: 100px;
    background-color: #111111;
    color: #fff;
    transition: opacity 0.2s ease-in-out;
}

.section-button.inverted {
    background-color: #fff;
    color: #111111;
}

.section-button:hover {
    opacity: 0.8;
}

.section-image {
    width: 100%;
    height: auto;
    margin-bottom: 45px;
}

.section-category {
    display: block;
    text-align: left;
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 20px;
}

.section-card-desc {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.section-card-desc strong {
    display: block;
    color: #fff;
    font-size: 20px;
    margin-bottom: 26px;
}

.section-card-desc .section-button {
    margin-bottom: 0;
}

/* Main - Horizontal Scroll */

.horizontal-scroll {
    display: flex;
    overflow: auto;
    width: 100%;
    height: auto;
}

.horizontal-scroll-item {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 33%;
    height: auto;
    max-width: 576px;
    padding-bottom: 36px;
    margin-right: 16px;
    flex-shrink: 0;
}

.horizontal-scroll-item img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 576px;
    margin-bottom: 25px;
}

.horizontal-scroll-item .item-name {
    display: block;
    font-size: 18px;
    margin-bottom: 15px;
}

.horizontal-scroll-item p {
    display: block;
    color: #8d8d8d;
    font-size: 16px;
}

.horizontal-scroll-item .item-category {
    margin-bottom: 15px;
}

/* Main - First Section */

.first-section {
    margin-bottom: 150px;
}

.first-section .section-title {
    margin-bottom: 13px;
}

.first-section .section-paragraph {
    margin-bottom: 20px;
}

/* Main - Second Section */

.second-section {
    margin-bottom: 110px;
}

.second-section .section-title {
    margin-bottom: 20px;
}

.second-section .section-paragraph {
    margin-bottom: 25px;
}

.second-section.section-button:first-child {
    margin-right: 3px;
}

.second-section .section-button:last-child {
    margin-bottom: 0;
}

/* Main - Third Section */

.third-section {
    margin-bottom: 90px;
}

.third-section .section-card {
    display: flex;
}

.third-section .section-card-item {
    position: relative;
    display: block;
    width: 50%;
    height: 700px;
    margin-right: 16px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.third-section .section-card-desc {
    left: 48px;
    bottom: 48px;
}

.third-section .section-card-item:last-child {
    margin-right: 0;
}

.third-section .section-card-item.left {
    background-image: url(./assets/images/main3_1.jpg);
}

.third-section .section-card-item.right {
    background-image: url(./assets/images/main3_2.jpg);
}

/* Main - Fourth Section */

.fourth-section {
    margin-bottom: 90px;
}

/* Main - Fifth Section */

.fifth-section {
    margin-bottom: 255px;
}

.fifth-section .section-card {
    display: flex;
}

.fifth-section .section-card-item {
    position: relative;
    margin-right: 16px;
}
.fifth-section.section-card-item:last-child {
    margin-right: 0;
}

.fifth-section .section-card-item img {
    display: block;
    width: 100%;
    max-width: 576px;
}

.fifth-section .section-card-desc {
    position: absolute;
    top: 55px;
    left: 50px;
}

/* Footer */

.footer {
    background-color: #111111;
}