* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nanum Gothic", sans-serif;
}

/* Reset CSS */

ul,
ol,
li,
dl,
dt,
dd {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button:focus,
button:active,
input:focus,
input:active {
  outline: none;
  box-shadow: none;
}

button {
  border: none;
  cursor: pointer;
}

button,
input,
textarea {
  font-family: "Nanum Gothic", sans-serif;
}

.clearfix::after {
  content: "";
  clear: both;
}

body {
  background-color: black;
}

/* Header: Logo and Hamberger */

.header__logo-con {
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
}

.header__logo-con--logo {
  padding: 14px 18px;
}

.header__logo-con--logo img {
  display: block;
  width: auto;
  height: 32px;
}

.header__logo-con--hamberger {
  padding: 20px 22px;
}

.header__logo-con--hamberger i {
  display: block;
  width: 20px;
  height: auto;
}

/* Header: Logo and Hamberger when is NOT at the top */

.header__logo-con {
  background-color: White;
}

.header__logo-con--logo img {
  filter: none;
}

.header__logo-con--hamberger i {
  color: #014599;
}

/* Header: Logo and Hamberger when is at the top */

.header--top .header__logo-con {
  background-color: transparent;
}

.header--top .header__logo-con--logo img {
  filter: grayscale(1) brightness(5) drop-shadow(rgba(0, 0, 0, 0.5) 1px 1px 2px);
}

.header--top .header__logo-con--hamberger i {
  color: white;
}

/* Header: Menu */
