* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nanum Gothic", sans-serif;
}

/* Reset CSS */

ul,
ol,
li,
dl,
dt,
dd {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button:focus,
button:active,
input:focus,
input:active {
  outline: none;
  box-shadow: none;
}

button {
  border: none;
  cursor: pointer;
}

button,
input,
textarea {
  font-family: "Nanum Gothic", sans-serif;
}

.clearfix::after {
  content: "";
  clear: both;
}

/* Header */

.header {
  position: relative;
  position: fixed;
  flex-direction: column;
  width: 100%;
  top: 0;
  left: 0;
  color: white;
  background-color: #fff;
  z-index: 999;
}

/* Header: Logo and Hamberger */

.header__logo-con {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-con--logo {
  padding: 14px 18px;
}

.header__logo-con--logo img {
  display: block;
  width: auto;
  height: 32px;
}

.header__logo-con--hamberger {
  padding: 20px 22px;
}

.header__logo-con--hamberger .fa-bars {
  display: block;
  font-size: 16px;
}

.header__logo-con--hamberger .fa-times {
  display: none;
  font-size: 16px;
}

/* Header: Logo and Hamberger when is at the top */

.header--top {
  background-color: transparent;
}

.header--top .header__logo-con--logo img {
  filter: grayscale(1) brightness(5) drop-shadow(rgba(0, 0, 0, 0.5) 1px 1px 2px);
}

.header--top .header__logo-con--hamberger i {
  color: white;
}

/* Header: Mobile clicked */

.mobile--clicked {
  background-color: white;
}

.header__logo-con--logo img,
.mobile--clicked .header__logo-con--logo img {
  filter: none;
}

.mobile--clicked .header__logo-con--hamberger i,
.header__logo-con--hamberger i {
  color: #014599;
}

/* Header: User */

.header__user {
  display: none;
  padding: 20px;
  background-color: #014599;
}

.header__user a {
  display: block;
  flex-grow: 1;
  padding: 13px 20px;
  border: 1px solid #86bcff;
  border-radius: 4px;
  margin-right: 12px;
  text-align: center;
}

.header__user a:last-child {
  margin-right: 0;
}

.header__user a i {
  color: #86bcff;
  margin-right: 10px;
}

/* Header: Menu depth 1 */

.header__nav {
  display: none;
  flex-direction: column;
  padding: 0 20px 20px 20px;
  background-color: #014599;
}

.header__nav__depth1 li {
  border-top: 1px solid #012859;
}

.header__nav__depth1 li:last-child {
  border-bottom: 1px solid #012859;
}

.header__nav__depth1 li a {
  display: block;
  padding: 20px 10px;
}

.header__nav__depth1 li span::before {
  content: "+";
  margin-right: 16px;
  color: #86bcff;
}

/* Header: Menu depth 2 */

.header__nav__depth2 {
  margin-left: 25px;
  background-color: #013e89;
  border: 1px solid #012859;
  color: #ccc;
  border-radius: 3px;
  margin-bottom: 16px;
}

.header__nav__depth2 li {
  border: none;
}

.header__nav__depth2 li a {
  padding: 15px;
  font-size: 14px;
}

.header__nav__depth2 li span::before {
  content: "-";
  margin-right: 10px;
  color: #ccc;
}

/* Menu - When cliked */

.mobile--clicked {
  display: flex;
}

.mobile--clicked .header__logo-con--hamberger .fa-bars {
  display: none;
}

.mobile--clicked .header__logo-con--hamberger .fa-times {
  display: block;
}

/* MAIN */

/* Slider */

.main__slider-wrapper {
  position: relative;
  height: 280px;
}

.main__slider--button {
  position: absolute;
  width: 100%;
  height: 280px;
}

.main__slider--button i {
  position: absolute;
  color: #ccc;
  opacity: 0.7;
  font-size: 32px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.fa-chevron-circle-left {
  left: 10px;
}

.fa-chevron-circle-right {
  right: 10px;
}

.main__slider--pattern {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 100%;
  height: 280px;
  top: 0;
  left: 0;
  z-index: 1;
}

.main__slider--slide {
  width: 100%;
  height: 280px;
  position: absolute;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-position: center center;
}

.main__slider--slide.showing {
  opacity: 1;
  z-index: 0;
}

.main__slider--slide:nth-child(1) {
  background-image: url(./assets/images/main_carousel01.jpg);
}

.main__slider--slide:nth-child(2) {
  background-image: url(./assets/images/main_carousel02.jpg);
}

.main__slider--slide:nth-child(3) {
  background-image: url(./assets/images/main_carousel03.jpg);
}

/* Main Symol */

.main__symbol {
  position: relative;
  width: 100%;
  height: 50px;
  background-image: url(./assets/images/main__symbol--bg.gif);
  background-size: contain;
  background-repeat: repeat-x;
  text-align: center;
}

.main__symbol img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 1000px;
  z-index: 10;
}

/* Main Notice */

.main__notice {
  text-align: center;
  background-color: #f4f5f9;
  padding: 65px 30px;
}

.section-title {
  display: block;
  text-align: center;
}

.section-divider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 224px;
  height: 1px;
  background-color: #d8d9db;
  margin: 45px auto;
}

.section-divider div {
  width: 40px;
  height: 5px;
  border-top: 1px solid #e7e8eb;
  border-bottom: 1px solid #e7e8eb;
}

.section-divider--blue {
  background-color: #014599;
}

.section-divider--white {
  background-color: #ffffff;
}

.section-divider--red {
  background-color: #ec1e26;
}

.notice__item {
  background-color: #fff;
  margin-bottom: 20px;
  box-shadow: 0 2px 3px #ecedf1;
}

.notice__item--image {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.notice__item--image img {
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.notice__item--image img:hover {
  transform: scale(1.1);
}

.notice__item--content {
  padding: 22px 20px 10px;
  text-align: left;
}

.notice__item--title {
  font-size: 13px;
}

.notice__item--info {
  display: flex;
  justify-content: space-between;
  font-size: 11px;
  margin-top: 24px;
}

.notice__item--comment {
  color: #66a6ff;
}

.notice__item--date {
  color: #545454;
}

.main__insta {
  height: 290px;
  padding: 65px;
}

.main__insta--link {
  display: none;
}

/* Main : group */

.main__group {
  display: flex;
  align-items: center;
  height: 100px;
  padding: 15px;
  background-color: #f4f5f9;
}

.main__group img {
  width: auto;
  height: 30px;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  /* Header */
  .header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .header__logo-con {
    padding: 20px 30px;
    width: auto;
  }

  .header__logo-con--logo {
    width: 50px;
    height: 40px;
    padding: 0;
    overflow: hidden;
  }

  .header__logo-con--logo img {
    width: auto;
    height: 40px;
  }

  .header__logo-con--hamberger {
    display: none;
  }

  /* header user */

  .header__user {
    display: flex;
    margin-bottom: 0;
    order: 2;
    background-color: transparent;
    color: #666666;
  }

  .header__user a {
    padding: 0;
    border: none;
    margin-right: 15px;
  }

  .header__user span {
    font-size: 11px;
  }

  .header__user a:last-child {
    margin-right: 0;
  }

  .header__user div {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .header__user a i {
    color: #86bcff;
    margin-bottom: 10px;
    margin-right: 0;
  }

  /* header user when at the top */

  .header--top .header__user {
    color: #d2e6ff;
  }

  /* header nav */

  .header__nav {
    display: block;
    order: 1;
    background-color: transparent;
    color: black;
    padding: 0;
  }

  .header__nav__depth1 {
    display: flex;
    position: relative;
    flex-direction: row;
    align-content: center;
    font-size: 15px;
  }

  .header__nav__depth1 li span::before,
  .header__nav__depth2 li span::before {
    content: "";
    margin-right: 0;
  }

  .header__nav__depth1 li {
    border: none;
  }

  .header__nav__depth1 li a {
    display: block;
    padding: 32px 0;
    margin-right: 15px;
  }

  .header__nav__depth1 li:last-child {
    border: none;
  }

  .header__nav__depth1 li:last-child a {
    margin-right: 0;
  }

  .header__nav__depth2 {
    display: none;
    position: absolute;
    width: 100%;
    top: 60px;
    left: 65px;
    margin: 0;
    border: none;
    border-radius: 0;
    color: white;
    background-color: #a7141e;
  }

  .header__nav__depth2 li a {
    padding: 12px 16px;
    margin: 0;
  }

  .header__nav__depth2.showing {
    display: flex;
  }

  /* header nav when at the top */

  .header--top .header__nav {
    color: white;
  }

  /* MAIN */

  /* Carousel */

  .main__slider-wrapper,
  .main__slider--pattern,
  .main__slider--slide,
  .main__slider--button {
    height: 450px;
  }

  /* Main Symbol */
  .main__symbol {
    height: 100px;
  }

  /* Main: Notice */

  .notice__list {
    column-count: 2;
    column-width: 50%;
  }

  /* Main Insta */

  .main__insta {
    height: 410px;
    padding: 110px;
  }

  /* Main: Groups */

  .main__group {
    height: 145px;
    padding: 25px;
  }

  .main__group img {
    width: auto;
    height: 45px;
  }
}

@media screen and (min-width: 980px) {
  /* MAIN */

  /* Carousel */

  .main__slider-wrapper,
  .main__slider--pattern,
  .main__slider--slide,
  .main__slider--button {
    height: 550px;
  }

  /* Main Symbol */

  .main__symbol {
    height: 120px;
  }

  .main__symbol img {
    width: 80%;
  }

  /* Main: Notice */

  .notice__list {
    column-count: 4;
    column-width: 25%;
  }

  /* Main: Insta */

  .main__insta--link {
    display: flex;
    justify-content: flex-end;
  }

  .main__insta--link span {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    font-size: 12px;
    border-bottom: 1px dotted #d4d4d4;
  }

  .main__insta--link i {
    font-size: 22px;
    margin-bottom: 14px;
  }

  /* Main: Groups */

  .main__group {
    height: 200px;
    padding: 35px;
  }

  .main__group img {
    width: auto;
    height: 60px;
  }
}

@media screen and (min-width: 1100px) {
  .header__logo-con--logo {
    width: auto;
    height: 50px;
    padding: 0;
  }

  .header__logo-con--logo img {
    width: auto;
    height: 50px;
  }
}

@media screen and (min-width: 1250px) {
  .main__slider-wrapper,
  .main__slider--pattern,
  .main__slider--slide,
  .main__slider--button {
    height: 720px;
  }

  /* Main Symbol */

  .main__symbol {
    height: 120px;
  }

  /* Main: notice */

  .notice__item--title {
    font-size: 14px;
  }
}
